<div class="control-section">
  <div align="center">
    <ejs-chart
      style="display:block;"
      [chartArea]="chartArea"
      [width]="width"
      align="center"
      id="chartcontainer"
      [primaryXAxis]="primaryXAxis"
      [primaryYAxis]="primaryYAxis"
      [legendSettings]="legend"
      [title]="title"
      [tooltip]="tooltip"
      (load)="load($event)"
    >
      <e-series-collection>
        <e-series
          [dataSource]="data1"
          type="StackingLine"
          xName="x"
          yName="y"
          name="December 2008"
          width="2"
          [marker]="marker2"
          dashArray="3,5"
        >
        </e-series>
        <e-series
          [dataSource]="data2"
          type="Line"
          xName="x"
          yName="y"
          name="December 2009"
          width="2"
          [marker]="marker3"
        >
        </e-series>
      </e-series-collection>
    </ejs-chart>
  </div>
</div>
